.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  color: #555;
}

.input-container {
  display: flex;
}

.column{
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-container label {
  padding: 10px;
  color: #555;
  font-weight: bold;
}

.input-container select {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #999999;
  border-radius: 5px;
  width: 200px;
  height: 35px;
}

.input-container button {
  padding: 10px;
  border-radius: 5px;
  background-color: #4085c5;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 35px;
  width: 180px;
}

button:hover {
  background-color: #2f6496;
}

.log-container {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  white-space: pre-wrap;
  font-family: monospace;
  max-height: 400px; /* Altura máxima do container */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical */
}

.log-container p {
  margin: 5px 0;
}
