*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #e53d3a;
  --secondary-color: #f1f1f1;
  --logo-color: #db3a37;
  --text-color: #747070;
}

body{
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background-color: #eee;
  background: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) rgba(0, 0, 0, 0);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page{
  width: 100%;
  padding-top: 45vh;
  text-align: center;
}