/* Header Global Style 
vermelho claro botão #e53d3a
vermelho logo escuro #db3a37
Cinza Texto #747070
*/
header a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: all 0.2s ease;
}

header a:hover{
    color: var(--primary-color);
    cursor: pointer;
    }

header {
    position: relative;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.logo a{
    font-size: 1.9rem;
    color: var(--logo-color);
    font-weight: bold;
}

.links{
    display: flex;
    gap: 2rem;
}

.links a{
    border-bottom: 2px solid transparent;
}

.activeLink{
    border-bottom: 2px solid var(--primary-color) !important;
}

.auth{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #000000;
}

.login{
    padding: .5rem 1rem;
    background-color: var(--logo-color);
    color: #ffffff;
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 0.0cap;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login:hover {
    scale: 1.05;
    color: #fff
}

.login:active{
    scale: 1;
}

.menuBtn{
    color: var(--logo-color);
    cursor: pointer;
    display: none;
}

/* Responsive Design */

@media(max-width: 992px){
    header{
        background-color: transparent;
        backdrop-filter: none;
    }

    .links, .auth{
        display: none;
    }
    .menuBtn{
        display: block;
        }
}
