/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar-user {
    font-size: 1.2em;
}

.navbar-logout {
    background-color: #ff5c5c;
    border: none;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.navbar-logout:hover {
    background-color: #ff1c1c;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}
.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}
.logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}